/* styles.css */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    color: #3d3d3d;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 40px;
}

h2 {
    background-color: transparent;
    color: #333;
    padding: 20px 0;
    margin: 0;
    font-size: 28px;
    font-weight: 700;
}

.variable,
.action {
    background-color: #f5f5f5;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
    color: #666;
}

input,
select {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
    transition: all 0.3s ease; /* Smooth transition for input fields */
}

input:focus,
select:focus {
    border-color: #007bff; /* Highlight border color when focused */
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease; /* Smooth transition for buttons */
    width: 100%; /* Set button width to fill its container */
    display: block; /* Block-level elements take up the full width of their container */
    margin-bottom: 10px; /* Add margin at the bottom of each button to separate them */
}

button:last-child {
    margin-bottom: 0; /* Remove the margin-bottom for the last button */
}

button:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2); /* Add shadow effect on hover */
}

pre {
    width: 100%; 
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word; 
    background-color: #f8f8f8; 
    border-radius: 5px; 
}


@media screen and (max-width: 900px) {
    .container {
        max-width: 100%;
        padding: 20px;
    }

    input,
    select,
    button {
        font-size: 18px;
        padding: 20px;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 26px;
        padding: 20px 0;
    }
}
